body{
    background-color: rgba(34, 33, 33, 0.966);
    margin: 0%;
    padding: 0%;
}
ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
#navbar{
    font-size: 19px;
    padding: 10px;
    font-family: sans-serif;
    display: flex;
    height: 50px;
    margin-bottom: -90px;
    justify-content: space-evenly;
    margin-left: 0px;
    flex-direction: row;
    z-index: -1;
    flex: 1;
}
#home{
    position: absolute;
    top: 3%;
    text-decoration: none;
    left: 30px;
    box-sizing: border-box;
    color: azure;

}
#proj{
    position: absolute;
    text-decoration: none;
    top: 3%;
    left: 230px;
    box-sizing: border-box;
    color: azure;

}
#difficulty{
    font-weight: bolder;
    color: red;
    transition: all .5s;
}
#difficulty:hover{
  cursor: pointer;
  color: rgb(136, 9, 9);
}
#gamelvl{
    position: absolute;
    padding: 5px;
    z-index: 1;
    top: 1%;
    left :80%;
    font-family: 'Courier New', Courier, monospace;
    border: solid #4de51f 4px;
    box-sizing: border-box;
    color: azure;

}
#abtme{
    top: 3%;
    position: absolute;
    text-decoration: none;
    left: 110px;
    box-sizing: border-box;
    color: azure;

}
#abt{
    margin-left: 50px;
    display: flex;
    position: absolute;
    width: 400px;
    top: 762px;
    z-index: 1;
}
#aboutme{
    color: aliceblue;
    font-family:'Courier New', Courier, monospace ;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 30px;
}
#r1{
    margin-left: 0px;
    opacity: 0.3;
    width: auto;
    float: right;
    position: absolute;
}
#blur1{
    opacity: 0.3;
    margin-left: -30px;
    height: 750px;
    z-index: 1;
}
#r2{
    margin-left: 0px;
    float: right;
    opacity: 0.3;
}
#blur{
    width:780px;
    margin-right: -8%;
    opacity: 0.3;
    }
#btndiv{
    position: relative;
    top: 2%;
    left: 2%;
    border: solid 3px red;
    }
#fp{
    display: flex;
    width: 100%;
    position: relative;
    height: 670px;
}
#stb{
    font-family: cursive;
    color: azure;
    font-weight: lighter;
    position: absolute;
    background-color: rgb(250,75,6);
    font-size: x-large;
    cursor: pointer;
    transition: all .1s;
    height: 90px;
    z-index: 1000;
    top: 9%;
    left: 2%;
    border: none;
    border-radius: 50%;
}
.hithere{
    font-family:'Courier New', Courier, monospace ;
    font-size: 60px;
    color: azure;
    margin: 80px;
    z-index: 10;
    position: absolute;
    left: 5%;
    width: 245px;
    display: flex;     
}
#SD{
    font-family:'Courier New', Courier, monospace ;
    color: azure;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #04b18b; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(22, 96, 131); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(5, 73, 136); 
  }
  @media screen and (max-width:511px){
    #r2,#r1{
        display: none;
    }
    .notification{
      margin-bottom: -21px;
    }
    #aboutme{
      height: 0%;
    }
    #blur1{
      display: none;
    }
    .openbtn{
        display: flex;
    }
    #navbar{
    top: 35px;
    position: absolute;
    width: 200px;
    }
    .hithere{
      display: none;
    }
    #abt{
      top: 70px;
      left: -18px;
      width: auto;
    }
    #gamelvl{
        top: 2px;
    }
  }