body{
    background-color: rgba(34, 33, 33, 0.966);
    margin: 0%;
    padding: 0%;
}
#notification
#myage{
    position: relative;
    left: -20px;
    top: 20px;
    display: flex;
    width: 650px;
    justify-content: space-evenly;
    flex-direction: row;
    color: azure;
    font-size: 40px;
}
#myage2{
    position: relative;
    left: -20px;
    top: 20px;
    display: flex;
    width: 650px;
    justify-content: space-around;
    flex-direction: row;
    color: azure;
    font-size: 40px;
}
#myage3{
    position: relative;
    left: -20px;
    top: 20px;
    display: flex;
    width: 650px;
    justify-content: space-evenly;
    flex-direction: row;
    color: azure;
    font-size: 40px;
}
#myage span,#myage2 span,#myage3 span{
    margin-top: 39px;
    margin-left:10px ;
    margin-right: 10px;
}
ul,li{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    cursor: pointer;
}
#navbar{
    font-size: 21px;
    padding: 10px;
    font-family: sans-serif;
    display: flex;
    height: 50px;
    margin-bottom: -90px;
    justify-content: space-evenly;
    margin-left: 0px;
    flex-direction: row;
    z-index: 10;
    flex: 1;
}
#home{
    position: absolute;
    top: 3%;
    text-decoration: none;
    left: 30px;
    box-sizing: border-box;
    z-index: 1;
    color: azure;

}
#proj{
    position: absolute;
    text-decoration: none;
    z-index: 1;
    top: 3%;
    left: 230px;
    box-sizing: border-box;
    color: azure;

}
#difficulty{
    font-weight: bolder;
    color: red;
    transition: all .5s;
}
#difficulty:hover{
  cursor: pointer;
  color: rgb(136, 9, 9);
}
#gamelvl{
    position: absolute;
    padding: 5px;
    z-index: 1;
    top: 1%;
    left :78%;
    font-family: 'Courier New', Courier, monospace;
    border: solid #4de51f 4px;
    box-sizing: border-box;
    color: azure;

}
#abtme{
    z-index: 1;
    top: 3%;
    position: absolute;
    text-decoration: none;
    left: 110px;
    box-sizing: border-box;
    color: azure;

}
.abt{
    margin-left: 26px;
    position: absolute;
    width: 550px;
    top: 680px;
    z-index: 1;
}
#aboutme{
    color: aliceblue;
    font-family:'Courier New', Courier, monospace ;
    font-size: 28px;
    margin-top: 10px;
}
#r1{
    margin-left: 0px;
    opacity: 0.3;
    width: 630px;
    position: absolute;
}
#blur1{
    opacity: 0.3;
    margin-left: -30px;
    width: 670px;
    height: 630px;
}
#r2{
    margin-left: 0px;
    opacity: 0.3;
}
#blur{
    width:600px;
    opacity: 0.3;
    }
#btndiv{
    position: relative;
    top: 2%;
    left: 2%;
    border: solid 3px red;
    }
#fp{
    display: flex;
    width: 100%;
    position: relative;
    height: 670px;
}
#stb{
    font-family: cursive;
    color: azure;
    font-weight: lighter;
    position: absolute;
    background-color: rgb(250,75,6);
    font-size: x-large;
    cursor: pointer;
    transition: all .1s;
    height: 90px;
    z-index: 1000;
    top: 9%;
    right: 2%;
    border: none;
    border-radius: 50%;
}
.hithere span{
    transition: all .8s;
    height: auto;
    position: relative;
    color: azure;
    cursor: pointer;
}
.a1,.a2,.a3,.a4,.a5,.a6,.a7,.a19{
    left: 5%;
}
.a8,.a9,.a10,.a11,.a12,.a13,.a14,.a15,.a16,.a17,.a18,.a20,.a21{
    top: 80px;
    left: -77%;
}
.a21,.a2{
    margin-right: 20px;
}
.hithere{
    font-family:'Courier New', Courier, monospace ;
    font-size: 80px;
    z-index: 10;
    top: 25px;
    left: 2%;
    animation: anim 1s ease-in;
    position: absolute;
    width: 500px !important;
    display: flex;     
}
#SD{
    font-family:'Courier New', Courier, monospace ;
    color: azure;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #04b18b; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(22, 96, 131); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(5, 73, 136); 
  }
  @keyframes anim {
      0%{
        left: 0%;
        opacity: 0;
      }

      100%{
          opacity: 1;
          left: 2%;
      }
  }
  @media screen and (max-width:640px){
    #r2,#r1{
        display: none;
    }
    .notification{
      margin-bottom: -21px;
    }
    #aboutme{
      height: 0%;
    }
    #blur1{
      display: none;
    }
    #blur{
        width: 650px;
    }
    .openbtn{
        display: flex;
    }
    #navbar{
    top: 35px;
    position: absolute;
    width: 200px;
    }
    .hithere{
      display: none;
    }
    #abt{
      top: 70px;
      left: 0px;
      width: auto;
    }
    #gamelvl{
        top: 2px;
    }
  }